*{box-sizing: border-box;}
#back{
  height: 100vh;
  position: relative;
  padding-top: 210px;
  padding-bottom: 210px;
  padding-left: 100px;
  /*Setting the background image with JS*/
}
#back #texttop {   
	color: #fff;
	width: 30%;
	padding-top: 200px;
	padding-left: 5%;
	padding: 2rem;
	border: 4px double rgba(255,255,255,0.3);
	background: rgba(0,0,0,0.3);
	font-family: Oxygen, sans-serif;
}
h1 {  
  text-align: center;
  font-weight: 100;
}

@media all and (max-width: 770px) {
	#back #texttop { width: 100%;}
  #back {padding-left: 0;}
}
